# Database
DATABASE_URL="postgresql://hims:hims@localhost:5432/hims_opd?schema=public"

# Auth
JWT_SECRET="change-me-to-a-long-random-secret"
JWT_EXPIRES_IN="12h"

# App
NEXT_PUBLIC_APP_NAME="HIMS OPD"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"
